.imageWrapper {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgba(247, 249, 249, 0.801);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.caption {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 12px 16px;
    color: #006D88;
    font-weight: 700;
    border-radius: 4px;
    font-size: 2.5rem;
    z-index: 10;
}

.detail {
    position: absolute;
    text-align: left;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 12px 16px;
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
    z-index: 5;
    list-style-type: disc;
}