@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-navigation-color: #006D88;
  --swiper-pagination-color: #006D88;
}

@theme inline {
  --font-sans: var(--font-museomoderno-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333333;
  }
  .text-stroke-1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333333;
  }
}

@layer components {
  .text-heading {
    @apply font-bold text-5xl tracking-widest;
  }
  .text-menu {
    @apply text-black hover:cursor-pointer hover:text-[#F1E3E0] text-3xl font-bold mx-8 px-4 rounded-md;
  }
}